{% extends 'base.html.twig' %}

{% block body %}
    <div class="container container-pad">
        <div class="row">
            <h2>Account</h2>
        </div>
        <div class="row">
            <div class="col-4">
                {{ form_start(form) }}
                <div class="mb-3">
                    {{ form_row(form.fname) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.lname) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.api) }}
                </div>
                {{ form_row(form.submit) }}
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

