{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container px-5 my-5">
        <div class="row justify-content-md-center text-center">
            <h2>Register</h2>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-4">
                {{ form_start(registrationForm) }}
                    <div class="form-floating mb-3">
                        <input class="form-control" type="email" id="registration_form_email" name="registration_form[email]" placeholder="Email Address" required="required" maxlength="180">
                        <label for="registration_form_email">Email Address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" id="registration_form_fname" name="registration_form[fname]" placeholder="First Name" required="required">
                        <label for="registration_form_fname">First Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" id="registration_form_lname" name="registration_form[lname]" placeholder="Last Name" required="required">
                        <label for="registration_form_lname">Last Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="password" id="registration_form_plainPassword" name="registration_form[plainPassword]" placeholder="Password" required="required" autocomplete="new-password">
                        <label for="registration_form_plainPassword">Password</label>
                    </div>

                    {{ form_row(registrationForm.agreeTerms) }}

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary" id="submitButton" disabled>Register</button>
                    </div>


                {{ form_end(registrationForm, {'render_rest': false}) }}

                <div class="text-center justify-content-md-center my-3">
                    <p><a href="{{ path('app_login') }}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Already got an account? Login</a></p>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('js/register.js') }}"></script>

{% endblock %}
