{% extends 'base.html.twig' %}

{% block body %}
    <div class="container container-pad">
    <h1>Movies</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Avg Rating</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                    <th scope="row"><img src="{{ movie.imagePath }}" alt="{{ movie.name }} image"></th>
                    <th>{{ movie.name }}</th>
                    <th>{{ attribute(stars, loop.index-1) | raw}}</th>
                    <th>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="{{ path('create-review', {'id' : movie.id}) }}"><button class="btn btn-primary">Review This Movie</button></a>
                                </div>
                                <div class="col">
                                    <a href="{{ path('view-movie', {'id' : movie.id}) }}"><button class="btn btn-secondary">View Reviews</button></a>
                                </div>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <div class="col">
                                        <a href="#"><button class="btn btn-danger">Delete Movie</button></a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </th>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

