{% extends 'base.html.twig' %}

{% block body %}
    <div class="container container-pad">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h2>Search for Movie</h2>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <p>Movie could not be found from name or Imdb number - please search for it here.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row d-flex justify-content-center">
                    <div class="col col-8">
                        {{ form_start(form) }}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Search..." value="{{ search }}" name="{{ field_name(form.search) }}">
                            <button class="btn btn-primary" type="submit" id="button" name="{{ field_name(form.submit) }}">{{ field_label(form.search) }}</button>
                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row row-cols-md-4 g-4">
                {% for movie in results %}
                    <div class="col">
                        <div class="card h-100">
                            {% if movie.Poster == "" %}
                                <div class="container">
                                    <div class="col d-flex justify-content-center">
                                        <div class="row d-flex justify-content-center">
                                            <h2><i class="bi bi-file-earmark-image"></i></h2>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <img src="{{ movie.Poster }}" class="card-img-top" alt="{{ movie.Title }} image">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ movie.Title }}</h5>
                                <p>{{ movie.Year }}</p>
                                <p class="card-text"></p>
                            </div>
                            <div class="card-footer">
                                <div class="container">
                                    <div class="row">
                                        <div class="col d-flex justify-content-center">
                                            <a class="stretched-link" href=""><button class="btn btn-primary">Select</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

