{% extends 'base.html.twig' %}

{% block body %}
    <div class="container container-pad">
        <div class="row">
            <div class="col-2">
                <div class="row">
                    <img src="{{ movie.imagepath }}" alt="Movie Image" width="128">
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <h5>Name: </h5><p>{{ movie.name }}</p>
                </div>
                <div class="row">
                    <h5>Studio: </h5><p>{{ movie.studio }}</p>
                </div>
                <div class="row">
                    <h5>Director: </h5><p>{{ movie.director }}</p>
                </div>
            </div>
            <div class="col-2">
                <div class="row">
                    <h5>Average Rating:</h5><p>{{ moviestars | raw }}</p>
                </div>
                <div class="row">
                    <a href="{{ path('create-review', {'id' : movie.id}) }}"><button class="btn btn-primary" type="button">Review this movie</button></a>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Rating</th>
                        <th scope="col">Comment</th>
                        <th scope="col">Author</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for review in reviews %}
                        <tr>
                            <th scope="row">{{ attribute(stars, loop.index-1) | raw}}</th>
                            <th>{{ review.comment }}</th>
                            <th>{{ review.author.fname }}</th>
                            <th>
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <a href="{{ path('view-review', {'id' : review.id}) }}"><button class="btn btn-outline-secondary">View</button></a>
                                        </div>
                                        <div class="col">
                                            <a href="{{ path('create-report', {'id' : review.id}) }}"><button class="btn btn-outline-danger">Report</button></a>
                                        </div>
                                        {% if review.author.id == app.user.id or is_granted('ROLE_MOD') %}
                                        <div class="col">
                                            <a href="{{ path('edit-review', {'id' : review.id}) }}"><button class="btn btn-outline-primary">Edit</button></a>
                                        </div>
                                        <div class="col">
                                            <a href="{{ path('delete-review', {'id' : review.id}) }}"><button class="btn btn-outline-danger">Delete</button></a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if reviews == [] %}
                <div class="container">
                    <div class="row justify-content-md-center text-center">
                        <div class="alert alert-secondary col-md-3 justify-content-md-center">
                            No reviews yet!
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}