{% extends 'base.html.twig' %}

{% block body %}
    <div class="container container-pad">
        <div class="col">
            <div class="row">
                <a href="{{ path('view-movie', {'id' : review.movie.id}) }}"><button class="btn btn-secondary"><i class="bi bi-arrow-left-short"></i>Back to movie</button></a>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Movie: </h5><p>{{ review.movie.name }}</p>
                </div>
                <div class="col">
                    <h6>Rating: </h6><p>{{ stars | raw }}</p>
                </div>
            </div>
            <div class="row">
                <h6>Comment: </h6><p>{{ review.comment }}</p>
            </div>
            <div class="row">
                {% if review.author.id == app.user.id or is_granted('ROLE_MOD') %}
                    <div class="col">
                        <a href="{{ path('edit-review', {'id' : review.id}) }}"><button class="btn btn-outline-primary">Edit</button></a>
                    </div>
                    <div class="col">
                        <a href="{{ path('delete-review', {'id' : review.id}) }}"><button class="btn btn-outline-danger">Delete</button></a>
                    </div>
                {% endif %}
                <div class="col">
                    <a href="{{ path('create-report', {'id' : review.id }) }}"><button class="btn btn-danger">Report</button></a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}