{% extends 'base.html.twig' %}

{% block body %}
    <div class="container container-pad">
        <div class="row">
            <div class="col-2">
                <div class="row">
                    <img src="{{ imagepath }}" alt="Movie Image">
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <h5>Name: </h5><p>{{ name }}</p>
                </div>
                <div class="row">
                    <h5>Studio: </h5><p>{{ studio }}</p>
                </div>
            </div>
            <div class="col-2">
                <div class="row">
                    <a href="{{ path('create-review', {'id' : id}) }}"><button class="btn btn-primary" type="button">Rate this movie</button></a>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Rating</th>
                        <th scope="col">Comment</th>
                        <th scope="col">Author</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rating in ratings %}
                        <tr>
                            <th scope="row">{{ rating.rating }}</th>
                            <th>{{ rating.comment }}</th>
                            <th>{{ rating.author }}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}