{% extends 'base.html.twig' %}

{% block body %}
    <div class="container container-pad">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Roles</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <th scope="row">
                                {{ user.id }}
                            </th>
                            <th>{{ user.fname }}</th>
                            <th>{{ user.email }}</th>
                            <th>
                                {% for role in user.roles %}
                                    <p>{{ role }}</p>
                                {% endfor %}
                            </th>
                            <th>
                                <div class="container">
                                    <div class="row">
                                        <a href="{{ path('edit-user', {'id' : user.id}) }}"><button class="btn btn-primary">Edit User</button></a>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}