{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.report) }}
    {{ form_row(form.remove) }}
    <button type="submit" class="btn btn-primary">Submit</button>
    {{ form_end(form) }}

    <div class="container container-pad">
        <div class="row">
            <div class="col justify-content-md-center">
                <div class="col">
                    <img src="{{ movie.imagePath }}">
                </div>
                <div class="col">
                    <h5>{{ movie.name }}</h5>
                </div>
                <div class="col">
                    <p>Avg Rating:</p>
                    <p>{{ stars }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col justify-content-md-center">
                <!--review details-->
                <div class="col">
                    {{ review.rating }}
                </div>
                <div class="col">
                    <label for="reviewComment">Comment </label>
                    <input name="reviewComment" id="reviewComment" type="text" disabled value="{{ review.comment }}">
                </div>
                <div class="col">
                    <label for="reviewUser">Username </label>
                    <input name="reviewUser" id="reviewUser" type="text" disabled value="{{ review.author.email }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col justify-content-md-center">
                <!--report-->
                <div class="col">
                    <label for="reportComment">Report text </label>
                    <input id="reportComment" name="reportComment" type="text" disabled value="{{ report.comment }}">
                </div>
                <div class="col">
                    <label for="reportUser">Reporter </label>
                    <input id="reportUser" name="reportUser" type="text" disabled value="{{ report.user.email }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!--report form-->
                {{ form_start(form) }}
                {{ form_row(form.remove) }}
                <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}